name: Update Contributions

on:
  schedule:
    - cron: "* * 1 * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-contributions:
    name: Update Contributions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Action PR to Md
        uses: ryohidaka/action-pr-to-md@v1.2.2
        with:
          user_name: "ryohidaka"
          is_exclude_owner_repos: true
          since: "2022-01-01"
          excluded_repos: ""
          states: ""
          repo_template: "#### {REPO}\n{ITEMS}"
          item_template: "- [#{number} {title}]({html_url})\n"
          output_file_path: "docs/contributions.md"

      - name: Commit and Push
        uses: ryohidaka/action-commit-push@v0.6.0
        with:
          files: "docs/contributions.md"
          commit-message: "Update Contributions"
