name: Merge README.md

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  merge-readme:
    name: Merge README.md
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Insert document files to template
        uses: ryohidaka/action-md-insert@v1.2.1
        with:
          template_path: "./templates/README.md"
          src_dir: "./docs"
          dest_file: "./README.md"

      - name: Commit and Push
        uses: ryohidaka/action-commit-push@v0.6.0
        with:
          files: "README.md"
          commit-message: "Update README.md"
