name: Update Zenn from RSS

on:
  schedule:
    - cron: "* * 1 * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update latest blogs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Fetch posts
        uses: ryohidaka/zenn-article-fetcher@v0.1.2
        with:
          user-id: "hidaka"
          output: "templates/README.md"
          template: "- %DATE% [%TITLE%](%LINK%)"
          date-locale: "ja"
